<html>
<head>
<h1 align="ceenter"style="margin":23px;bakground-color:mediumturquoise;">create form</h1><hr>
      <style>
       #g1{
           color:coral;background-color: crimson}
        #body{
            color:black;background-color: sandybrown;font-family: 'Courier New', Courier, monospace;
        }
</head>
</html>